
body{
    text-align: left;
    padding: 0;
    margin: 0;
    background-color:whitesmoke;
    padding-bottom: 50px;
    padding-left: 500px;
    
}

.todo-list{
    border: 1px solid #efefef;
    align-items: center;
    background-color: white;
    width: fit-content;
    box-shadow: 10px 10px 5px grey;
    
    
}

.todo-item{
    display: flex;
    color: black;
    font-size: 20px;
    font-weight: 100;
    font-family: Roboto, sans-serif;
    border-bottom: 1px solid #cecece;
    width: 96%;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;

}